*{
    box-sizing: border-box;
}
#row{
    margin-right:0;
    padding-right:0 ;
}
#header-column1{
    background-color: black;
}
#header-column2{
    background-color: black;
}
#navbar2{
    margin-left: -5rem;
}
#logo{
    font-size: 1.5rem;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}
#logo-u{
    font-size: 2.3rem;
    font-weight: 350;
}
#Uber-works{
    font-size: 1.27rem;
    font-weight: 350;
}
#Ride{
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 1.875rem;
    border-style: hidden;
    background-color: black;
    margin-top: 0.7rem;
}
#Drive{
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 1.875rem;
    border-style: hidden;
    background-color: black;
    margin-top: 0.7rem;
}
#Business{
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 1.875rem;
    border-style: hidden;
    background-color: black;
    margin-top: 0.7rem;
}
#Uber-Eats{
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 1.875rem;
    border-style: hidden;
    background-color: black;
    margin-top: 0.2rem;
    width: 6rem;
}
#uber-u{
    font-size: 1.3rem;
}
i{
    font-size: 0.7rem;
}
#About{
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 1.875rem;
    border-style: hidden;
    background-color: black;
    margin-top: 0.4rem;
}
#About-btn{
    border-style: hidden;
    color: black;
    width: 8.5rem;
}
#chevronArrowUp{
    display: none;
}
#Language{
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 1.875rem;
    border-style: hidden;
    background-color: black;
    margin-top: 0.7rem;
    width: 5rem;
}
#language{
    margin-left: 25rem;
}
i{
    margin-right: 0.4rem;
    font-size: 0.8rem;
}
#Help{
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 1.875rem;
    border-style: hidden;
    background-color: black;
    margin-top: 0.7rem;
}
#LogIn{
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 1.875rem;
    border-style: hidden;
    background-color: black;
    margin-top: 0.7rem;
}
#SignUp{
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 1.875rem;
    border-style: hidden;
    background-color: white;
    margin-top: 0.7rem;
}
#GoAnywhere-text{
    font-size: 60px;
    font-weight: 600;
    font-family:UberMove, UberMoveText, system-ui, Helvetica, Arial, sans-serif;
    line-height: 60px;
    letter-spacing: -2px; 
}
#Uber-u{
    font-size: 85px;
    font-weight: 400;
}
.fa-circle-dot{
    position: absolute;
    margin-left: 6px;
    margin-top: 20px;
    font-size: 10px;
}
.fa-location-arrow{
    position: absolute;
    padding-left: 19rem;
    padding-top: 1rem;
}
input{
    padding-left: 20px;font-size: 20px;
    font-weight: 100;
    font-family:UberMove, UberMoveText, system-ui, Helvetica, Arial, sans-serif;
    line-height: 60px;
    letter-spacing: 1px;
    height: 50px;
    border-radius: 9px; 
    border-style: hidden;
}
#price-btn{
    width: 135px;
    height: 50px;
    border-radius: 9px;
    border-style: hidden;
    background: white;
    margin-top: 2rem;
    margin-left:-1rem;
    margin-bottom: 1rem;
}
#drive-text{
    font-size: 60px;
    font-weight: 600;
    font-family:UberMove, UberMoveText, system-ui, Helvetica, Arial, sans-serif;
    line-height: 60px;
    letter-spacing: -2px; 
}
#money-text{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 20px;
}
#start-btn1{
    width: 135px;
    height: 50px;
    border-radius: 9px;
    border-style: hidden;background:black;
    margin-top: 2rem;
}
#account-btn{
    width: 300px;
    height: 55px;
    background:white;
    border-style: hidden;
    margin-left:20px;
}
#account-text{
    font-size: 19px;
    font-family: UberMove, UberMoveText, system-ui,Helvetica, Arial, sans-serif;
    cursor: pointer;
    color: black;
}
#uber-Business{
    font-size: 60px;
    font-weight: 600;
    font-family:UberMove, UberMoveText, system-ui, Helvetica, Arial, sans-serif;
    line-height: 60px;
    letter-spacing: -2px;
    margin-left: -10px; 
}
#uber-platform{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 20px;margin-left: -10px;
}
#start-btn2{
    width: 135px;
    height: 50px;
    border-radius: 9px;
    border-style: hidden;background:black;
    margin-top: 2rem;
}
#check-btn{
    width: 300px;
    height: 55px;
    background:white;
    border-style: hidden;
    margin-left:20px;
}
#check-text1{
    font-size: 19px;
    font-family: UberMove, UberMoveText, system-ui,Helvetica, Arial, sans-serif;
    cursor: pointer;
    color: black;
}
#rent-text{
    font-size: 60px;
    font-weight: 600;
    font-family:UberMove, UberMoveText, system-ui, Helvetica, Arial, sans-serif;
    line-height: 60px;
    letter-spacing: -2px; 
}
#connect-text{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 20px;
}
#start-btn3{
    width: 135px;
    height: 50px;
    border-radius: 9px;
    border-style: hidden;
    background:black;
    margin-top: 2rem;
}
#check-btn2{
    width: 300px;
    height: 55px;
    background:white;
    border-style: hidden;
    margin-left:20px;
}
#check-text2{
    font-size: 19px;
    font-family: UberMove, UberMoveText, system-ui,Helvetica, Arial, sans-serif;
    cursor: pointer;
    color: black;
}
#app-text{
    font-family: UberMove, UberMoveText, system-ui, Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}
#QR1{
    height: 198px;
    background-color:white;
    display: flex;
    cursor: pointer;margin-top: 5rem;
}
#download-text1{
    font-family: UberMove, UberMoveText, system-ui, Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 650;
    line-height: 1rem;
    padding-left: 17px;padding-top: 34px;
}
#scan-text1{
    font-family: UberMoveText, system-ui, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 0px;
    padding-left: 17px;
}
#arrow1{
    padding-left: 16px;
    padding-top: 101px;
    font-size: 20px;
}
#QR2{
    height: 198px;
    background-color:white;
    display: flex;
    cursor: pointer;
    margin-top: -2.8rem;
    margin-left: 3rem;
}
#download-text2{
    font-family: UberMove, UberMoveText, system-ui, Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 650;
    line-height: 1.5rem;
    padding-left: 20px;
    padding-top: 34px;
}
#scan-text2{
    font-family: UberMoveText, system-ui, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 0px;
    padding-left: 20px;
}
#arrow2{
    padding-left: 16px;
    padding-top: 90px;
    font-size: 20px;
}
#about{
    font-weight: 400;
    line-height: 2rem; 
    color: white;
}
#offerings{
    font-weight: 400;
    line-height: 2rem;
    color: white;
}
#newsroom{
    font-weight: 400;
    line-height: 2rem;
    color: white;
}
#investors{
    font-weight: 400;
    line-height: 2rem;
    color: white;
}
#blog{
    font-weight: 400;
    line-height: 2rem;
    color: white;
}
#careers{
    font-weight: 400;
    line-height: 2rem;
    color: white;
}
#ai{
    font-weight: 400;
    line-height: 2rem;
    color: white;
}
#gift{
    font-weight: 400;
    line-height: 2rem;
    color: white;
}
#ride{
    font-weight: 400;
    line-height: 2rem;
    color: white; 
}
#drive{
    font-weight: 400;
    line-height: 2rem;
    color: white;
}
#deliver{
    font-weight: 400;
    line-height: 2rem;
    color: white;
}
#eat{
    font-weight: 400;
    line-height: 2rem;
    color: white;
}
#uber-business{
    font-weight: 400;
    line-height: 2rem;
    color: white;
}
#uber-freight{
    font-weight: 400;
    line-height: 2rem;
    color: white;
}
#safety{
    font-weight: 400;
    line-height: 2rem;
    color: white;
}
#diversity{
    font-weight: 400;
    line-height: 2rem;
    color: white;
}
#sustainability{
    font-weight: 400;
    line-height: 2rem;
    color: white;
}
#reserve{
    font-weight: 400;
    line-height: 2rem;
    color: white;
}
#airports{
    font-weight: 400;
    line-height: 2rem;
    color: white;
}
#cities{
    font-weight: 400;
    line-height: 2rem;
    color: white;
}
#facebook{
    background-color:black;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    border-style: hidden;
}
#twitter{
    background-color:black;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    margin-left: 3rem;
    border-style: hidden;
}
#youtube{
    background-color:black;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    margin-left: 3rem;
    border-style: hidden;
}
#linkedin{
    background-color:black;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    margin-left: 3rem;
    border-style: hidden;
}
#instagram{
    background-color:black;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    margin-left: 3rem;
    border-style: hidden;
}
#english{
    background-color:black;
    height: 35px;
    margin-left: 26rem;
    width: 100px;
    border-radius: 12px;
    border-style: hidden;
}
#kochi{
    background-color:black;
    height: 35px;
    margin-left: 1rem;
    width: 80px;
    border-radius: 12px;
    border-style: hidden;
}